<!--The content below is only a placeholder and can be replaced.-->
<html>
    <head>
        <title >Payment Gateway</title>
        <style>
        </style>
        <meta charset="utf-8">
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">-->
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h2>Welcome to Payment Gateway</h2>
    </br></br></br>
    <!-- For paying by card -->

    <h3>Pay by card</h3>
          <div class="accordion" id="accordionExample1">
            <div class="card">
              <div class="card-header" id="headingOne">
                    <img src="debitcard.jfif" class="rounded float-right" width="150px" height="70px">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    DEBIT CARD/DEBIT CARD
                  </button>
                </h2>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample1">
                <div class="card-body">
                        <form id="frm1" name="form for debit card">
                                <label for = "name1">Enter name</label>
                                <input type="text" id="name1" maxlength=30 placeholder="name on card"></br></br>

                                <label for = "crdnum1">Card number</label>
                                <input type="text"  id="crdnum1" maxlength=20 placeholder="number on card"></br></br>

                                <label for = "vt1">valid through</label>
                                <input type="date" id="vt1"></br></br>

                                <label for = "cvv1">CVV</label>
                                <input type="number" max=1000 id="cvv1" onmouseover="show1()" onmouseout="hide1()">

                                <div id="show1"></div> 

                                <input type = "checkbox" value = "save" id = "cb1" onmouseover="cbd1show()" onmouseout="cbd1hide()">:save
                                <div id="cbd1"></div>
                         </form>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                    <img src="creditcard.jfif" class="rounded float-right" width="150px" height="70px">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    ADD NEW CARD
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample2">
                <div class="card-body">
                        
                        <form id="frm2" name="form for debit card">
                                <label for = "name2">Enter name</label>
                                <input type="text" id="name2" maxlength=30 placeholder="name on card"></br></br>

                                <label for = "crdnum2">Card number</label>
                                <input type="text"  id="crdnum2" maxlength=20 placeholder="number on card"></br></br>

                                <label for = "vt2">valid through</label>
                                <input type="date" id="vt2"></br></br>

                                <label for = "cvv2">CVV</label>
                                <input type="number" max=1000 id="cvv2" onmouseover="show2()" onmouseout="hide2()">

                                <div id="show2"></div> 

                                <input type = "checkbox" value = "save" id = "cb2" onmouseover="cbd2show()" onmouseout="cbd2hide()">:save
                                <div id="cbd2"></div>
                         </form>
                                       
                </div>
              </div>
            </div>

            

            <!-- For paying by UPI -->

            <h3>Pay by UPI</h3>
          <div class="accordion" id="accordionExample2">
            <div class="card">
              <div class="card-header" id="headingThree">
                    <img src="gpay1.jfif" class="rounded float-right" width="150px" height="70px">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    GOOGLE PAY
                  </button>
                </h2>
              </div>
          
              <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample2">
                <div class="card-body">
                        <input type = "button" value = "LINK ACCOUNT" id = "gpaylinkbtn">
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFour">
                    <img src="paytmupi.jfif" class="rounded float-right" width="150px" height="70px">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    PAYTM UPI
                  </button>
                </h2>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample2">
                <div class="card-body">
                        
                        <input type = "button" value = "LINK ACCOUNT" id = "pytmupilinkbtn">                   
                </div>
              </div>
            </div>
            

            <!-- For paying by wallets -->

            <h3>Pay by wallets</h3>
          <div class="accordion" id="accordionExample3">
            <div class="card">
              <div class="card-header" id="headingFive">
                    <img src="paytm.png" class="rounded float-right" width="150px" height="70px">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    PAYTM
                  </button>
                </h2>
              </div>
          
              <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordionExample3">
                <div class="card-body">
                        
                        <input type = "button" value = "LINK ACCOUNT" id = "pytmlinkbtn">
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingSix">
                    <img src="phonepe.png" class="rounded float-right" width="150px" height="70px">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    PHONE PE    
                  </button>
                </h2>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample2">
                <div class="card-body">
                        
                        <input type = "button" value = "LINK ACCOUNT" id = "pplinkbtn">                   
                </div>
              </div>
            </div>

            <div class="card">
                    <div class="card-header" id="headingSeven">
                            <img src="apay.jfif" class="rounded float-right" width="150px" height="70px">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                          AMAZON PAY   
                        </button>
                      </h2>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample3">
                      <div class="card-body">
                              
                              <input type = "button" value = "LINK ACCOUNT" id = "apaylinkbtn">                   
                      </div>
                    </div>
                  </div>

                  <div class="card">
                        <div class="card-header" id="headingEight">
                                <img src="mobikwik.png" class="rounded float-right" width="150px" height="70px">
                          <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                              MOBIKWIK   
                            </button>
                          </h2>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample3">
                          <div class="card-body">
                                  
                                  <input type = "button" value = "LINK ACCOUNT" id = "mblinkbtn">                   
                          </div>
                        </div>
                      </div>
            

        

        <script src="paygate.js" type="text/javascript"></script>

        <script>
            
        </script>

    </body>
</html>
  

<router-outlet></router-outlet>
